pa-test-endpoint.suo
pa-test-endpoint.v11.suo
pa-test-endpoint.v12.suo
Test Endpoint.sln.DotSettings.user
Test Endpoint/bin/*
Test Endpoint/obj/*
Test Endpoint/Test Endpoint.csproj.user
build/*
